{% load i18n %}
<div class="oh-modal__dialog" id="assignShiftsModal">
  <div class="oh-modal__dialog-header">
    <button type="button" class="oh-modal__close" aria-label="Close">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>

  <div class="oh-modal__dialog-body">
    <form
      method="post"
      hx-post="{% url 'assign-shift' grace_time.id %}"
      hx-target="#objectUpdateModalTarget"
      hx-swap="innerHTML"
    >
      {% csrf_token %}
      {{ form.as_p }}

      <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="oh-btn oh-btn--primary">
          {% trans "Save" %}
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  $("#assignShiftsModal").find('.col-md-6').removeClass('col-md-6')
</script>
